<div class="col-md-6 offset-md-3 mt-5" style="margin-top: 30px">
  <ngx-spinner>
    <p class="spinner"></p>
  </ngx-spinner>
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <label style="margin-left: 35%">Description de la publication</label><br><br><br>
        <textarea matInput type="text" class="form-control" style="width: 90%; background: darkgrey; margin-left: 5%" rows="30" [(ngModel)]="texte" readonly></textarea>

      </div>

    </div>
  </div>
</div>
